Experimento2/src/utils/TelemetryFlowConSeguridad.json
[
    {
        "id": "30b9aaf4.0f03d6",
        "type": "tab",
        "label": "Telemetric Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edacda70.12a16",
        "type": "inject",
        "z": "30b9aaf4.0f03d6",
        "name": "Microcontrador Time",
        "topic": "rootTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "f9578e00.941618",
                "fdd17267.5ac2e"
            ]
        ]
    },
    {
        "id": "f2339299.91d4f",
        "type": "serial in",
        "z": "30b9aaf4.0f03d6",
        "name": "Nodo de escucha",
        "serial": "c038f0a0.432a38",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "2e98a7d0.82cda",
                "f3cf6558.b4b09"
            ]
        ]
    },
    {
        "id": "2e98a7d0.82cda",
        "type": "debug",
        "z": "30b9aaf4.0f03d6",
        "name": "before format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "f9578e00.941618",
        "type": "debug",
        "z": "30b9aaf4.0f03d6",
        "name": "before format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3cf6558.b4b09",
        "type": "function",
        "z": "30b9aaf4.0f03d6",
        "name": "Format VariablesAmbientales",
        "func": "var res = {};\nvar tempString;\nvar tempArray = [];\nvar subArray = [];\nvar i;\nvar ids;\nvar nivelId;\nvar areaId;\nvar microcontradorId;\nvar tipoVariable;\n\ntempString = msg.payload;\ntempArray = tempString.split(\";;;\");\nids=tempArray[0].split(\":::\");\n\nnivelId=ids[0];\nareaId=ids[1]\nmicrocontroladorId = ids[2];\n\nres.topic = \"variablesAmbientales\";\nmetadata={\"nivelId\": nivelId,\n                \"areaId\": areaId,\n                \"microcontroladorId\": microcontroladorId\n                };\n                \nvariablesAmbientales = [];\n\nfor(i = 1; i < (tempArray.length-1); i++)\n{\n    if(tempArray[i] !== \"NULL\")\n    {\n        subArray[i]= tempArray[i].split(\":::\");\n        \n        switch(i)\n        {\n            case 1:\n                tipoVariable = 'Temperatura';\n                break;\n            case 2:\n                tipoVariable = 'Gases(CO)';\n                break;\n            case 3: \n                tipoVariable = 'Iluminacion';\n                break;\n            case 4:\n                tipoVariable = 'Ruido';\n                break;\n        }\n        \n        \n        variablesAmbientales[i-1] = {\"data\": parseInt((subArray[i])[0]),\n                    \"tipo\": tipoVariable,\n                    \"unidad\": (subArray[i])[1]\n                    }\n        \n    }\n}\nres.payload = {\n    \"variablesAmbientales\": variablesAmbientales,\n    \"metadata\": metadata\n};\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "363a771c.5a3fc",
                "c2c20873.fa36b8"
            ]
        ]
    },
    {
        "id": "fdd17267.5ac2e",
        "type": "function",
        "z": "30b9aaf4.0f03d6",
        "name": "Format Time",
        "func": "var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "6c756ceb.ed79cc",
                "c2c20873.fa36b8"
            ]
        ]
    },
    {
        "id": "363a771c.5a3fc",
        "type": "debug",
        "z": "30b9aaf4.0f03d6",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "6c756ceb.ed79cc",
        "type": "debug",
        "z": "30b9aaf4.0f03d6",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 749,
        "y": 127,
        "wires": []
    },
    {
        "id": "c2c20873.fa36b8",
        "type": "function",
        "z": "30b9aaf4.0f03d6",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"rootTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"variablesAmbientales\":\n        context.data.variablesAmbientales = msg.payload.variablesAmbientales;\n        context.data.metadata = msg.payload.metadata;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime && context.data.variablesAmbientales) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 816,
        "y": 195,
        "wires": [
            [
                "ea999da9.d2b4a",
                "61d6b4cd.18da9c"
            ]
        ]
    },
    {
        "id": "ea999da9.d2b4a",
        "type": "debug",
        "z": "30b9aaf4.0f03d6",
        "name": "after merge",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "61d6b4cd.18da9c",
        "type": "mqtt out",
        "z": "30b9aaf4.0f03d6",
        "name": "",
        "topic": "n.1.a.1.m.1",
        "qos": "0",
        "retain": "false",
        "broker": "31f59e23.4a22d2",
        "x": 1046,
        "y": 155,
        "wires": []
    },
    {
        "id": "c038f0a0.432a38",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "31f59e23.4a22d2",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.24.42.41",
        "port": "8083",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]