Experimento1/TelemetricFlow.json
[
    {
        "id": "f0625d0.1e0582",
        "type": "tab",
        "label": "Telemetric Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5436490a.12f15",
        "type": "inject",
        "z": "f0625d0.1e0582",
        "name": "Microcontrador Time",
        "topic": "rootTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "60514bd.a9292b4",
                "de5c60b5.22857"
            ]
        ]
    },
    {
        "id": "437625ee.cbff4c",
        "type": "serial in",
        "z": "f0625d0.1e0582",
        "name": "Nodo de escucha",
        "serial": "6d432283.db4e4c",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "13899a88.ef874d",
                "4f8c7059.2f8378"
            ]
        ]
    },
    {
        "id": "13899a88.ef874d",
        "type": "debug",
        "z": "f0625d0.1e0582",
        "name": "before format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "60514bd.a9292b4",
        "type": "debug",
        "z": "f0625d0.1e0582",
        "name": "before format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f8c7059.2f8378",
        "type": "function",
        "z": "f0625d0.1e0582",
        "name": "Format VariablesAmbientales",
        "func": "var res = {};\nvar tempString;\nvar tempArray = [];\nvar subArray = [];\nvar i;\nvar microcontradorId;\nvar tipoVariable;\n\ntempString = msg.payload;\ntempArray = tempString.split(\";;;\");\n\nmicrocontroladorId = (tempArray[0].split(\":::\"))[0];\n\nres.topic = \"variablesAmbientales\";\nres.payload = [];\n\nfor(i = 1; i< (tempArray.length-1); i++)\n{\n    if(tempArray[i] !== \"NULL\")\n    {\n        subArray[i]= tempArray[i].split(\":::\");\n        \n        switch(i)\n        {\n            case 1:\n                tipoVariable = 'Temperatura';\n                break;\n            case 2:\n                tipoVariable = 'Gases(CO)';\n                break;\n            case 3: \n                tipoVariable = 'Iluminacion';\n                break;\n            case 4:\n                tipoVariable = 'Ruido';\n                break;\n        }\n        \n        \n        res.payload[i-1] = {\"data\": parseInt((subArray[i])[0]),\n                    \"tipo\": tipoVariable,\n                    \"unidad\": (subArray[i])[1],\n                    \"microcontroladorId\": microcontroladorId}\n        \n    }\n}\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "6c059076.bdc8c8",
                "5a59cefd.8f6ef8"
            ]
        ]
    },
    {
        "id": "de5c60b5.22857",
        "type": "function",
        "z": "f0625d0.1e0582",
        "name": "Format Time",
        "func": "var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "f5b47ee2.f510c",
                "5a59cefd.8f6ef8"
            ]
        ]
    },
    {
        "id": "6c059076.bdc8c8",
        "type": "debug",
        "z": "f0625d0.1e0582",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "f5b47ee2.f510c",
        "type": "debug",
        "z": "f0625d0.1e0582",
        "name": "after format",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 749,
        "y": 127,
        "wires": []
    },
    {
        "id": "5a59cefd.8f6ef8",
        "type": "function",
        "z": "f0625d0.1e0582",
        "name": "Merge 2 Messages",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"rootTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"variablesAmbientales\":\n        context.data.variablesAmbientales = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime !== null && context.data.variablesAmbientales !== null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"variablesAmbientales\";\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 816,
        "y": 195,
        "wires": [
            [
                "274b3c8e.3ea6b4",
                "9db290f9.964648"
            ]
        ]
    },
    {
        "id": "274b3c8e.3ea6b4",
        "type": "udp out",
        "z": "f0625d0.1e0582",
        "name": "Send VariablesAmbientales",
        "addr": "localhost",
        "iface": "",
        "port": "6000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1080,
        "y": 140,
        "wires": []
    },
    {
        "id": "9db290f9.964648",
        "type": "debug",
        "z": "f0625d0.1e0582",
        "name": "after merge",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "6d432283.db4e4c",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    }
]